<!--  -->
<h1>Successful</h1>
<%= @result.user_jobs.each do |result| %>
	 <div class="panel panel-default">
		 <div class="panel-body">
		 	<td><%= result.id %> | </td>
		 	<td><%= result.user %> | </td>
		 	<td><%= result.result %> | </td>
		 	<td><%= result.job %> | </td>
		 	<td><%= result.applied %> </td>
		 	<td><%= link_to 'Show', result %></td>
        	<td><%= link_to 'Edit', edit_user_job_path(result) %></td>
        	<td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		 </div>
	 </div>

<% end %>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', :back %>
